<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ThrowPrimaryWriterError" value="false" />
    <add key="ThrowSecondaryWriterError" value="false" />
    <add key="PrimaryConnectionString" value="Endpoint=sb://staging-visibleservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=b9TidQs2oTFYKBHI8bsxsWGxL2CiXRBJsmwtVL30PLM=" />
    <add key="SecondaryConnectionString" value="" />
  </appSettings>
</configuration>
